* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 

} 
body { 
    width: 100%;
    height: auto; 
    background-image: url('/snow.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
} 
.contain { 
    color: white;
    background-color: rgb(77, 74, 221); 
    width: 25%; 
    height: auto; 
    margin: 12em; 
    display: block;
    justify-content: center;
    align-items: center;  
    padding: 20px; 
    border-radius: 20px; 
    
} 

.contain .inputs { 
    display: flex; 
    flex-direction: column;
}

.contain .inputs input { 
    border: none; 
    padding: 5px;; 
    margin: 5px; 
    border-radius: 3px; 
} 
.contain .button button { 
    background-color: rgb(241, 241, 146); 
    font-size: 20px; 
    padding: 2px 10px; 
    border-radius: 10px; 
    margin: 5px ; 
    
}

